body {
    background-color: #1B1F31; /* Dark background */
    color: #E0E0E0; /* Light text */
    font-family: Arial, sans-serif;
}

form {
    background-color: #2C3144; /* Slightly lighter background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ffffff;
}

input, select, textarea {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #3B4252;
    border-radius: 5px;
    background-color: #2C3144; /* Input background matching form */
    color: #D8DEE9; /* Text color */
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #5E81AC; /* Accent border color on focus */
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    background-color: #5E81AC; /* Accent button color */
    color: #E0E0E0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #81A1C1; /* Slightly lighter on hover */
}

label {
    display: block;
    margin-top: 15px;
    color: #E5E9F0; /* Light color for labels */
    margin-left: -400px;
    font-size: 25px;
}

textarea {
    height: 100px;
}

pre {
    background-color: #2C3144; 
    color: #D8DEE9; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 600px; 
    margin: 20px auto; 
    white-space: pre-wrap;
    font-size: 25px;
}